@leveloneproject:registry=https://modusbox.jfrog.io/modusbox/api/npm/level1-npm-release/
//modusbox.jfrog.io/modusbox/api/npm/level1-npm-release/:_password=QVA4M3hOZ3h5RVYydmloN1I0ZzM4RlRldVg2
//modusbox.jfrog.io/modusbox/api/npm/level1-npm-release/:username=level1project_circleci
//modusbox.jfrog.io/modusbox/api/npm/level1-npm-release/:email=billh@crosslaketech.com
//modusbox.jfrog.io/modusbox/api/npm/level1-npm-release/:always-auth=true
